.feedback-widget {
    border-radius: 12px;
    background: #F2F2F2;
    padding: 12px;
    max-width: fit-content;
    min-width: 225px;
    margin: 10px;
    height: 100%;
    z-index: 1000;
    cursor: default;
}

.feedback-widget-title{
  font-weight: bold;
  font-size: 14px;
  display: block;
  line-height: 12px;
  margin-top: 4px;
}

.feedback-widget-content{
  padding: 8px;
  font-size: 12px;
}

.feedback-widget-divider{
    border: 1px solid #E0E0E0;
    margin: 4px 0;
}

.feedback-widget-buttons{
    display: flex;
    justify-content: center;
    padding: 0 6px;
    gap: 4px;
}

.feedback-widget-button{
    border-radius: 5px;
    padding: 8px !important;
    display: flex;
    align-items: center;
    gap: 4px;
    width: fit-content;
    text-decoration: none !important;
    color: white !important;
    font-size: 12px !important;
    font-weight: bold;
    background: #A84F4F;
    transition: background 0.2s;
    cursor: pointer;
    z-index: 1;
}

.feedback-widget-button:hover{
    background: #d55858;
}

