.DS_Store
cookies/cookies.pkl
__pycache__/
*.swp
analyzeCourseFeedback/scrapeFeedback/comments.db
analyzeCourseFeedback/scrapeFeedback/slate_comments.txt
analyzeCourseFeedback/getSectionTimes/prereg_dump.txt
analyzeCourseFeedback/getSectionTimes/prereg_page.html
